<p-toast></p-toast>
<form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <div class="card">
        <div class="p-fluid p-formgrid grid">
            <div class="field col-12">
                <label htmlFor="name">Tên sản phâm</label>
                <input formControlName="name" pInputText id="name" type="text" maxlength="256"
                    [ngClass]="{'ng-invalid ng-dirty': (postFormControl.name.touched) && postFormControl.name.errors?.required}" />
            </div>
            <div class="field col-12">
                <label htmlFor="price">Giá bán</label>
                <input formControlName="price" pInputText id="price" type="text" maxlength="256"
                    [ngClass]="{'ng-invalid ng-dirty': (postFormControl.price.touched) && postFormControl.price.errors?.required}" />
            </div>
            <div class="field col-12 md:col-6">
                <label htmlFor="productType">Loại tin tức</label>
                <p-dropdown formControlName="productType" optionLabel="value" optionValue="key" [options]="types" [ngClass]="{
                        'ng-invalid ng-dirty': (postFormControl.productType.touched) && postFormControl.productType.errors?.required
                    }">
                </p-dropdown>
            </div>
            <div class="field col-12 md:col-6">
                <label htmlFor="status">Trạng thái</label>
                <p-dropdown formControlName="status" optionLabel="value" optionValue="key"
                    [options]="statuses" [ngClass]="{
                            'ng-invalid ng-dirty': (postFormControl.status.touched) && postFormControl.status.errors?.required
                        }">
                </p-dropdown>
            </div>
            <div class="field col-12 md:col-12">
                <label htmlFor="description">Mô tả sản phẩm</label>
                <textarea pInputTextarea [rows]="3" formControlName="description" id="description" type="text" [ngClass]="{
                        'ng-invalid ng-dirty': (postFormControl.description.touched) && postFormControl.description.errors?.required
                    }" class="custom-input"></textarea>
            </div>
            <div class="col-12 md:col-12">
                <label htmlFor="mainImg">Ảnh nổi bật</label>
                <div class="grid">
                    <div class="col-3">
                        <div class="img-zone mt-1">
                            <img class="col-12 "  *ngIf="imageFile && formatImage " src="{{baseUrl}}/{{ imageFile }}"  object-fit: cover/>
                            <video class="col-12 "  *ngIf="imageFile && formatVideo" src="{{baseUrl}}/{{ imageFile }}" controls></video>
                        </div>
                    </div>
                    <div class="col-6 mt-2">
                        <button (click)="selectImg()" pButton type="button" label="Chọn ảnh"
                            class="p-button-primary mb-1">
                        </button>
                        <p-message *ngIf="!imageFile" severity="error" text="Chưa chọn ảnh đại diện hoặc chưa tải ảnh">
                        </p-message>
                        <p-message *ngIf="imageFile" severity="success" text="Đã chọn ảnh"></p-message>
    
                    </div> 
                </div>
            </div> 
            
        </div>
    </div>

    <!-- <div class="modal-footer">
        <button type="reset" pButton pRipple label="Hủy" icon="pi pi-times" class="p-button-text mr-2" (click)="close()"></button>
        <button [disabled]="!postForm.valid" type="submit" pButton pRipple label="Lưu lại" icon="pi pi-save"></button>
    </div> -->
    <div class="p-dialog-footer" style="width: 100%; position: fixed; left: 0; bottom: 0;">
        <button type="reset" pButton pRipple label="Hủy" icon="pi pi-times" class="p-button-text mr-2" (click)="close()"></button>
        <button type="submit" pButton pRipple label="Lưu lại" icon="pi pi-save"></button>
    </div>

</form>